<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>271356176724-0p5o4ckv52domq87isbpiq1lnvqt2t9m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.271356176724-0p5o4ckv52domq87isbpiq1lnvqt2t9m</string>
	<key>API_KEY</key>
	<string>AIzaSyB5Z5xzSP9z8ejaylhXzVP4Gh5Yb7i0l2A</string>
	<key>GCM_SENDER_ID</key>
	<string>271356176724</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.varunk.ToDoFirebase</string>
	<key>PROJECT_ID</key>
	<string>todofirebase-97cb0</string>
	<key>STORAGE_BUCKET</key>
	<string>todofirebase-97cb0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:271356176724:ios:86b144f4e3f747a1ad00c1</string>
</dict>
</plist>